.fog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;
}

.fog-layer {
  position: absolute;
  bottom: -70%;
  left: -25%;
  width: 150%;
  height: 150%;
  background-size: cover;
  background-repeat: repeat-x;
  filter: blur(5px);
  transition: transform 0.2s ease-out, opacity 0.3s ease;
}

.fog-layer.fade-in {
  animation: fadeIn 2s forwards;
}

.fog-layer.fade-out {
  animation: fadeOut 2s forwards;
}

.fog-layer.hidden {
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 768px) {
  .fog-layer {
    bottom: -40%;
    left: -30%;
    width: 200%;
    height: 200%;
    filter: blur(6px);
  }

  @keyframes fadeIn {
    from {
      bottom: -120%;
      opacity: 0;
    }
    to {
      bottom: -40%;
      opacity: 0.4;
    }
  }

  @keyframes fadeOut {
    from {
      bottom: -40%;
      opacity: 0.4;
    }
    to {
      bottom: -120%;
      opacity: 0;
    }
  }
}


@keyframes fadeIn {
  from {
    bottom: -150%;
    opacity: 0;
  }
  to {
    bottom: -70%;
    opacity: 0.4;
  }
}

@keyframes fadeOut {
  from {
    bottom: -70%;
    opacity: 0.4;
  }
  to {
    bottom: -150%;
    opacity: 0;
  }
}
