.rain-video {
   width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
  mix-blend-mode: screen;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.fade-in {
  opacity: 0.6;
}

.fade-out {
  opacity: 0;
}
@media (max-width: 768px) {
  .rain-video {
    height: 100dvh; /* підтримка на мобільних */
  }
}